.card{
	width: 500px;
	border: 2px solid black;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
}
img{
	width: 100%;
	border-radius: 25px;
	height: 450px;
}
h2{
	color: orangered;
}
span{
	color: orange;
}
#pets{
	display: flex;
	justify-content: space-evenly;
}
@media (max-width:825px){
	#pets{
		display: flex;
		flex-wrap: wrap;

	}
}